@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Red+Hat+Display:wght@200;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080c20;
  max-width: 100%;
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

p {
  color: #777f98;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  margin: 20px 0px 30px 0px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* max-width: 1440px; */
  height: 500px;
}

.hero__heading {
  font-weight: 800;
  font-size: 48px;
  width: 540px;
  color: #fff;
  margin-top: 100px;
}

.teal {
  color: #3ee9e5;
}

.text {
  color: #777f98;
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
  width: 500px;
  text-align: center;
  margin-top: 25px;
}

.hero__center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  background-image: url('images/bg-hero-squiggle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 25px 45px;
  width: 500px;
  height: 500px;
}

.hero__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: 50px;
}

.scroll__icon {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* perks section  */

.perks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* width: 1440px; */
  margin: 100px 25px 100px 25px;
  box-sizing: border-box;
}

.perks__high {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.perks__high h3 {
  color: #fff;
  font-size: 18px;
  padding-top: 25px;
}

.perks__high .text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  width: 300px;
  text-align: left;
  margin-top: 25px;
  padding: 0 50px;
  color: #777f98;
}

.image__high {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #093f68;
  border-radius: 45px;
}

.perks__low {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 100px;
}

.perks__low h3 {
  color: #fff;
  font-size: 18px;
  padding-top: 25px;
}

.perks__low .text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  width: 300px;
  text-align: left;
  margin-top: 25px;
  padding: 0 50px;
  color: #777f98;
}

.image__low {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #093f68;
  border-radius: 45px;
}

/* pricing plans section */
.pricing__plans {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__heading {
  font-weight: 800;
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.pricing__text {
  font-size: 15px;
}

.price__options {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0px;
  height: 600px;
}

.price__left {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 450px;
  width: 448px;
  background-color: #093f68;
  padding: 20px;
  border-radius: 10px;
  margin-right: 25px;
}

.icon {
  display: flex;
  justify-content: left;
  align-items: center;
}

.price__left h3 {
  margin: 50px 0px 25px 0px;
  color: #fff;
  font-size: 18px;
}

.price__left h2 {
  margin: 20px 0px 25px 0px;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
}

.price__right {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
  width: 448px;
  background-color: #3ee9e5;
  padding: 20px;
  border-radius: 10px;
}

.icon {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -50px;
}

.price__right h3 {
  margin: 50px 0px 25px 0px;
  color: #080c20;
  font-size: 18px;
}

.price__right h2 {
  margin: 50px 0px 25px 0px;
  color: #080c20;
  font-size: 40px;
  font-weight: 800;
}

ul {
  list-style: none;
  color: #080c20;
  font-size: 15px;
  line-height: 30px;
}

ul li:before {
  content: '✓';
  padding-right: 20px;
}

/* footer section */

/* .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(images/bg-footer-squiggle.svg);
  background-repeat: no-repeat;
  height: 300px;
  font-family: 'Manrope';
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  width: 100vw;
  color: #fff;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.btn {
  background-color: #3ee9e5;
  width: 140px;
  height: 48px;
  color: #080c20;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 20px;
}

.btn:hover {
  width: 140px;
  height: 48px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 4px solid #3ee9e5;

}

.btn:active {
  transform: translateY(5px);
}

.notify__email {
  background-color: #093f68;
  width: 320px;
  height: 48px;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 20px;
}

input[type='email'] {
  border: none;
  border-radius: 40px;
  padding: 10px;
} */

/* new footer */

.footer {
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(images/bg-footer-squiggle.svg);
  background-repeat: no-repeat;
  height: 300px;
}

.footer input {
  outline: none;
  border: none;
  background-color: #093f68;
  color: white;
  font-size: 18px;
  padding: 20px;
  border-radius: 30px;
  height: 48px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer #input__container {
  display: flex;
  flex-direction: column;
}

.footer div {
  display: flex;
}

.footer h2 {
  color: #fff;
  padding: 20px;
}

.error {
  visibility: hidden;
}

.btn {
  background-color: #3ee9e5;
  width: 140px;
  height: 48px;
  color: #093f68;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 20px;
  outline: none;
  border: none;
  font-weight: bold;
}

.btn:hover {
  width: 140px;
  height: 48px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 4px solid #3ee9e5;
}

.btn:active {
  transform: translateY(5px);
}
